@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans serif;
}

body {
    display: flex;
    background: linear-gradient(45deg, rgba(0,95,121,1) 30%, rgb(33, 27, 15) 100%);
    color: rgb(163, 207, 166);
}

p {
    padding-bottom: 20px;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    justify-content: center;
}

.description {
    background-color: rgb(13, 34, 47);
    margin-top: 150px;
    padding: 60px;
    font-size: 1.3rem;
    height: 25%;
}

img {
    height: 100vh;
    width: 40%;
    object-fit: cover;

}

.row {
    display: flex;
    gap: 20%;
    flex: 0 1;
}

.column {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: 10px 0px;
}
h3 {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 0;
    padding-left: 60px;
    margin-top: 30px;

}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 200px;
    height: 24px;
    font-size: 16px;
}

label {
    width: 200px;
    font-size: 14px;
    color: rgb(22, 255, 236);
    margin-bottom: 5px;
}

.button {
    margin-top: 20px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(238, 250, 252);
}

h4 {
    margin-top: 30px;
}